**.Xil

vivado/*
output/*
source/vsrc/**
source/xdc/**
source/param/**
**vivado.jou
**vivado.log
**vivado**.jou
**vivado**.log

!vivado/readme.txt
!output/readme.txt
!source/readme.txt
!source/vsrc/readme.txt
!source/xdc/**.xdc

!source/vsrc/posit_mult_nodsp.v
!source/vsrc/posit_add_nodsp.v
!source/vsrc/posit_mult.v
!source/vsrc/posit_add.v

tcl/test/**

*.ipynb
