**.Xil

vivado/*
output/*
source/vsrc/**
source/xdc/**
**vivado.jou
**vivado.log
**vivado**.jou
**vivado**.log

!vivado/readme.txt
!output/readme.txt
!source/readme.txt
!source/vsrc/readme.txt
!source/xdc/**.xdc
